<%%= render 'optimadmin/shared/header/main_title', title: 'New <%= singular_table_name.titleize %>' %>

<div class="main-content">
  <%%= render 'optimadmin/shared/module/form/back', path: <%= index_helper %>_path, title: '<%= singular_table_name.titleize %>' %>

  <%%= render 'form' %>
</div>