<div class="row">
  <div class="small-8 columns">
    <h1>Server Rejected Change</h1>

    <p>The server rejected your requested change. Please try again.</p>

    <p>If you think this is incorrect, please get in touch.</p>
  </div>
</div>
