<div class="row">
  <div class="small-8 columns">
    <h1>Internal Server Error</h1>

    <p>An error occurred with the server. Please try again.</p>

    <p>If you think this is incorrect, please get in touch.</p>
  </div>
</div>
